.email {
    margin: 5px auto;
    width: 400px;
    display: flex;
    background-color: crimson;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.email label {
    color: white;
    margin-right: 5px;
}

.email input{
    padding: 4px 10px;
    border: 1px solid black;
   border-radius: 5px;
   margin-right: 4px;
}

.email button {
    display: block;
    background-color: black;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    border: 1px solid yellow;
}
.email button:hover{
    color: gray;
}